- @announcements.first(2).each do |announcement|
  .panel.panel-sosset
    .panel-heading= link_to announcement.name, announcement
    .panel-body
      = truncate(strip_tags(announcement.markdown.blank? ? announcement.content : @markdown.render(announcement.markdown)), length: 300) do
        = link_to " &raquo; Read more".html_safe, announcement
.panel.panel-default
  .panel-body
    = link_to "See more announcements", announcements_path
