.d-flex.justify-content-center.my-5
  = image_tag 'logo.svg', width: "40%"

%form{action: "https://www.google.com/search", method: :get}
  .form-group.d-flex
    %input.form-control.flex-grow-1{name: :q, placeholder: t('.search.prompt'), type: :text, autofocus: true}
    %input.btn.bg-syosset.text-white.ml-3{type: :submit, value: t('.search.submit')}

.row
  .col-md-8
    = render "welcome/home/announcements"
  .col-md-4
    = render "welcome/home/quicklinks"
