.login-container
  %h1 Sign in
  %h4 Signing in gives you access to exclusive features such as course subscriptions and student-only content.
  = link_to '/auth/google_oauth2', class: "btn btn-loader" do
    = fa_icon 'google'
    Sign in with your school Google account
