%section.section.section-padded
  .section-header
    %h3
      Edit Bulletin
  .container-fluid
    .row-fluid
      = render 'form'
      = link_to 'Back', bulletins_path, class: "btn btn-warning pull-right"
