.d-flex.justify-content-between
  %h1 Morning Announcements
  = render partial: "partials/modtools", locals: {actions: @actions}

%table.table.table-hover
  %thead
    %tr
      %th Date
  %tbody.rankable
    - @bulletins.each do |bulletin|
      = content_tag_for(:tr, bulletin) do
        %td= link_to bulletin.pretty_date, bulletin
