- if Current.user && Current.user.super_admin
  #adminControl{data: {expiry: Current.user.admin_expiry}}
    .bucket.peek-link#adminContainer
      %span#adminTime
      = fa_icon 'shield', id: :renew
      = fa_icon 'times', id: :resign
