- if user_signed_in? && current_user.super_admin
  .bucket.admin-toggle
    = link_to admin_toggle_path, method: :post do
      %i.fa.fa-shield
      %span.hidden-xs= "#{current_user.admin_enabled? ? 'Disable' : 'Enable'} admin"