- if user_signed_in? && current_user.super_admin
  #adminControl{data: {expiry: current_user.admin_expiry}}
    .bucket.peek-link#adminContainer
      %span#adminTime
      %i.fa.fa-shield#renew
      %i.fa.fa-times#resign