- if Current.user && Current.user.super_admin
  #adminControl{data: {expiry: Current.user.admin_expiry}}
    .bucket.peek-link#adminContainer
      %span#adminTime
      %i.fa.fa-shield#renew
      %i.fa.fa-times#resign