= fa_icon 'code-branch', class: 'peek-icon'
.bucket
  %span.current-branch.css-truncate.expandable
    %span.current-branch-name.css-truncate-target
      = view.short_sha
    %span.hidden
      - if view.nwo?
        %a{:href => view.compare_url, :target => "_blank"}= view.short_sha
      - else
        = view.short_sha
