%section.section.section-padded
  .section-header
    %h3
      Edit
      %span.light
        = @department.name
        Department
  .container-fluid
    .row-fluid
      = render 'form'
      = link_to 'Back',  departments_path, class: "btn btn-warning pull-right"
