- unless badge.nil?
  .user-badge{style: "background-color: ##{badge.color};"}
    = fa_icon badge.icon.gsub('fa-', '') # TODO: migrate away from storing 'fa-' in the DB for font names
    = badge.name
