.page-wrapper
  %header.page-heading
    %h1.heading-title Badges
    = link_to "Create", new_badge_path, class: "btn btn-primary pull-right"
  .page-content
    - @badges.each do |badge|
      = Current.user&.name
      = link_to edit_badge_path(badge) do
        = render 'badge', badge: badge
      %br