#dynamic-schedule.container-fluid
  .row-fluid
    %div#movable
      #text
        now
      #line
    .schedule
      /.arrow-right
      %table.table
        %tbody
          %tr
            %th{scope: "row"} 1
            %td.text-right 7:39 - 8:19
          %tr
            %th{scope: "row"} 2
            %td.text-right 8:24 - 9:07
          %tr
            %th{scope: "row"} 3
            %td.text-right 9:12 - 9:52
          %tr
            %th{scope: "row"} 4
            %td.text-right 9:57 - 10:37
          %tr
            %th{scope: "row"} 5
            %td.text-right 10:42 - 11:22
          %tr
            %th{scope: "row"} 6
            %td.text-right 11:27 - 12:07
          %tr
            %th{scope: "row"} 7
            %td.text-right 12:12 - 12:52
          %tr
            %th{scope: "row"} 8
            %td.text-right 12:57 - 1:37
          %tr
            %th{scope: "row"} 9
            %td.text-right 1:41 - 2:21
