%footer.footer
  .container
    %small.copyright
      Made by
      = link_to "Neil Johari", "https://github.com/neiljohari/"
      and
      = link_to "Kailan Blanks", "https://github.com/kailan/"
    %ul.social
      %li.text-primary
        %a{:href => "https://twitter.com/SyoStudentGov"}
          %i.fa.fa-twitter
      %li
        %a{:href => "https://www.facebook.com/syosseths"}
          %i.fa.fa-facebook
      %li
        %a{:href => "https://github.com/Syosset/syosset"}
          %i.fa.fa-github
