%header.d-none.d-sm-block.py-3
  .container.d-flex.justify-content-between.align-items-center
    .d-flex.align-items-center
      = link_to root_path do
        = svg 'logo'
    %p
      = fa_icon 'phone'
      = t('contact.phone')
