%header.d-none.d-md-block.py-3
  .container.d-flex.justify-content-between.align-items-center
    .d-flex.align-items-center
      = link_to root_path do
        = svg 'logo'
    %p.my-2
      = fa_icon 'mobile-alt'
      = t('contact.phone')
