- if @actions.size > 0
  .dropdown.mx-2
    %a.dropdown-toggle.btn.btn-dark{'data-hover': 'dropdown', 'data-toggle': 'dropdown', href: '#'}
      = fa_icon 'wrench'
      Manage
    %ul.dropdown-menu
      - @actions.each do |text, method, path, options|
        %li= link_to text, path, options.merge(method: method, class: 'dropdown-item')
