- if @actions.size > 0
  %nav.mod-tools
    %ul.nav.navbar-nav.pull-right
      %li.nav-item.dropdown
        %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
          Actions
          %b.caret
        %ul.dropdown-menu.dropdown-menu-right
          - @actions.each do |text, method, path, options|
            %li= link_to text, path, options.merge(method: method)
