%header.header
  .header-main.container
    %h1.logo.col-md-6.col-sm-6
      %b
        =link_to t('name.abbr'), root_path
      =link_to t('name.full'), root_path
    .info.col-md-6-col-sm-6
      %ul.menu-top.navbar-right
        %li.divider
          =link_to t('nav.home'), root_path
        %li
          =link_to t('nav.contact'), root_path #TODO: link
      %br
      .contact.pull-right
        %p.phone
          %i.fa.fa-phone
          =t('contact.phone')
        %p.email
          %i.fa.fa-envelope
          =t('contact.email')
