%section.section.section-padded
  .section-header
    %h3
      Edit Link
  .container-fluid
    .row-fluid
      = render 'form'
      = link_to 'Back',  @announceable, class: "btn btn-warning pull-right"
