.page-wrapper
  %header.page-heading.clearfix
    %h1.heading-title.pull-left Departments
    = render partial: "partials/modtools", locals: {actions: @actions}
  .page-content
    .table-responsive
      %table.table
        %thead
          %tr
            %th Department Name
            %th Description
        %tbody
          - @departments.each do |department|
            %tr
              %td= link_to department.name, department
              %td= department.short_description
