%section.news
  %h1.section-heading.text-highlight
    %span.line Latest News
  .carousel-controls
    %a.prev{"data-slide" => "prev", :href => "#news-carousel"}
      %i.fa.fa-caret-left
    %a.next{"data-slide" => "next", :href => "#news-carousel"}
      %i.fa.fa-caret-right
  .section-content.clearfix
    #news-carousel.news-carousel.carousel.slide
      .carousel-inner
        .item.active
          .col-md-3.news-item
            %h2.title
              %a{href: "#"} Some announcement!
            %p Some long and boring announcement.
            %a.read-more{:href => "news-single.html"}
              Read more
              %i.fa.fa-chevron-right
          .col-md-3.news-item
            %h2.title
              %a{href: "#"} Another announcement!
            %p Some long and boring announcement.
            %a.read-more{:href => "news-single.html"}
              Read more
              %i.fa.fa-chevron-right
          .col-md-3.news-item
            %h2.title
              %a{href: "#"} Yet another announcement!
            %p Some long and boring announcement.
            %a.read-more{:href => "news-single.html"}
              Read more
              %i.fa.fa-chevron-right
          .col-md-3.news-item
            %h2.title
              %a{href: "#"} Some announcement!
            %p Some long and boring announcement.
            %a.read-more{:href => "news-single.html"}
              Read more
              %i.fa.fa-chevron-right
        .item
          .col-md-3.news-item
            %h2.title
              %a{href: "#"} No way, another announcement!
            %p Some long and boring announcement.
            %a.read-more{:href => "news-single.html"}
              Read more
              %i.fa.fa-chevron-right
          .col-md-3.news-item
            %h2.title
              %a{href: "#"} Another announcement!
            %p Some long and boring announcement.
            %a.read-more{:href => "news-single.html"}
              Read more
              %i.fa.fa-chevron-right
          .col-md-3.news-item
            %h2.title
              %a{href: "#"} Yet another announcement!
            %p Some long and boring announcement.
            %a.read-more{:href => "news-single.html"}
              Read more
              %i.fa.fa-chevron-right
          .col-md-3.news-item
            %h2.title
              %a{href: "#"} Some announcement!
            %p Some long and boring announcement.
            %a.read-more{:href => "news-single.html"}
              Read more
              %i.fa.fa-chevron-right
