%section.news
  %h1.section-heading.text-highlight
    %span.line Latest News
  .carousel-controls
    %a.prev{"data-slide" => "prev", :href => "#news-carousel"}
      %i.fa.fa-caret-left
    %a.next{"data-slide" => "next", :href => "#news-carousel"}
      %i.fa.fa-caret-right
  .section-content.clearfix
    #news-carousel.news-carousel.carousel.slide
      .carousel-inner
        - @announcements.in_groups_of(4).each_with_index do |announcement_group, index|
          .item{class: index == 0 ? "active" : ""}
            - announcement_group.reject(&:blank?).each do |announcement|
              .col-md-3.news-item
                %h2.title
                  = link_to announcement.name, announcement
                %p= truncate(announcement.content, length: 140)
                = link_to announcement do
                  Read more
                  %i.fa.fa-chevron-right
