#christmasParallax
  %img.christmas-bg{src: image_path('christmas/syosset-snow-bg.jpg'), data: {:depth => 0.2}}
  %img.christmas-bg{src: image_path('christmas/syosset-snow-fg.png'), data: {:depth => 0.4}}
  %div.christmas{data: {:depth => 0.5}}
    %h1
      Happy Holidays!
      %i.fa.fa-snowflake-o
    %h2 From everyone at Syosset High School.