.slider.flexslider#promo-slider
  %ul.slides
    - @announcements.reject{|a| a.slider_hidden}.first(3).each do |announcement|
      %li
        .super-hero-unit.announcement
          %h1= announcement.name
          %p= truncate(strip_tags(announcement.markdown.blank? ? announcement.content : @markdown.render(announcement.markdown)), length: 200)
          = link_to announcement do
            Read more
            %i.fa.fa-arrow-right