.slider.flexslider#promo-slider
  %ul.slides
    %li
      %img{alt: "Some Image", src: "https://www.ius.edu/education/images/education-header.jpg"}/
      %p.flex-caption
        %span.main Welcome to Syosset High School
        %br/
        %span.secondary.clearfix A Blue Ribbon winning school of excellence
    %li
      %img{alt: "Some Image", src: "http://www.atdi.com/wp-content/uploads/2013/04/banner_atdi_education.jpg"}/
      %p.flex-caption
        %span.main Dedicated Staff
        %br/
        %span.secondary.clearfix Delivering quality education since 1956
