.slider.flexslider#promo-slider
  %ul.slides
    %li
      .super-hero-unit
        %figure
          = image_tag(image_url('book-board.jpg'), class: "center-block img-responsive", alt: "some image")
          %figcaption.flex-caption
            %h1.super
              %b=t('.hero.first')
    %li
      .super-hero-unit
        %figure
          %img.center-block.img-responsive{:alt => "some image", :src => image_url('test-prep.jpg')}/
          %figcaption.flex-caption
            %h1.super
              %b=t('.hero.second')
