.slider.flexslider#promo-slider
  %ul.slides
    %li
      .super-hero-unit
        %figure
          %img.center-block.img-responsive{:alt => "some image", :src => "https://www.ius.edu/education/images/education-header.jpg"}/
          %figcaption.flex-caption
            %h1.super
              %b=t('.hero.first')
    %li
      .super-hero-unit
        %figure
          %img.center-block.img-responsive{:alt => "some image", :src => "http://www.atdi.com/wp-content/uploads/2013/04/banner_atdi_education.jpg"}/
          %figcaption.flex-caption
            %h1.super
              %b=t('.hero.second')
