.slider.flexslider#promo-slider
  %ul.slides
    - unless @active_promotions.empty?
      - @active_promotions.each do |promotion|
        %li
          .super-hero-unit
            %figure
              %img.center-block.img-responsive{src: promotion.picture.url}
              %figcaption.flex-caption
                %h1.super
                  %b= promotion.text.upcase
    - else
      = link_to t('promotions.none'), promotions_path, class: 'btn btn-warning'