.slider.flexslider#promo-slider
  %ul.slides
    %li
      %img{alt: "Some Image", src: "https://www.ius.edu/education/images/education-header.jpg"}/
      %p.flex-caption
        %span.main Welcome to Syosset High School
        %br/
        %span.secondary.clearfix A Blue Ribbon winning school of excellence
