.row
  .col-md-8.col-md-offset-4
    .landing-logo
      = image_tag 'logo.svg', width: "40%"
.container-fluid
  .row
    %form.search-form{action: "http://www.google.com/search", method: :get}
      .input-group
        %input.form-control{name: :q, placeholder: "Search", type: :text, autofocus: true}
        %span.input-group-btn
          %input.btn.btn-default.landing-search{type: :submit, value: "Google Search"}

.row.table-row
  .col-md-9
    = render "welcome/landing/announcements"
  .col-md-3.landing-quicklinks
    = render "welcome/landing/quicklinks"
