%h1
  Day Color
  %small
    for
    = @day.date.strftime("%A %d %B, %Y")

= form_tag day_path, method: :patch do
  .form-group
    - value = @day.color.nil? ? 'No Color' : @day.color
    = select_tag :color, options_for_select(['Red Day', 'White Day', 'No Color'], value), class: 'form-control'
  = submit_tag 'Update Color', class: 'btn btn-success'
