%ol.breadcrumb
  %li= link_to 'Policies', policies_path
  %li= link_to @policy.name, policy_path(@policy)
  %li.active Targets

%h1
  Targets
  .pull-right
    = render 'partials/modtools'
= render partial: 'targets', collection: @targets
