%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Policies', policies_path
  %li.breadcrumb-item= link_to @policy.name, policy_path(@policy)
  %li.breadcrumb-item= link_to 'Targets', policy_targets_path(@policy)
  %li.breadcrumb-item.active Create Target

= render 'form'
