.closure-info
  .closure-icon
    - if @closure.type == 'snow'
      %i.fa.fa-snowflake-o
    - else
      %i.fa.fa-exclamation-triangle
  .closure-content
    %p.dates
      Syosset High School is closed
      - if @closure.start_date == @closure.end_date
        on
        = @closure.start_date.strftime("%A")
      - else
        from
        = @closure.start_date.strftime("%A")
        to
        = @closure.end_date.strftime("%A") + '.'
    %p= @closure.content