= link_to "javascript:;", class: "day", "data-content" => "#{render 'partials/nav/midterm_info'}", "data-html" => :true, "data-placement" => :bottom , "data-toggle" => :popover, "data-container" => :nav do
  %i.fa.fa-pencil
  = @midterm_announcement.name