= link_to "View Escalation Requests", admin_escalation_requests_path, class: "btn btn-info"
= link_to "Manage Users", admin_users_path, class: "btn btn-info"
= link_to "Manage Integrations", admin_integrations_path, class: "btn btn-primary"