.main-nav.dark {
  background-color: #2e2e2e;
  .logo-mobile {
    display: inherit !important;
    margin-right: 10px;
  }
  .nav-item a {
    color: #ffffff;
  }
  .nav-item.active a {
    background-color: #202020;
  }
  .nav-item:hover a {
    background-color: #141414;
  }
}

.admin-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

.btn-admin {
  border-radius: 4px;
  background-color: #131313;
  color: #ffffff;

  text-align: left;
  font-size: 16px;

  width: 100%;
  padding: 16px;
  margin-bottom: 8px;
}

.integration-provider {
  padding: 15px 30px;
  margin-bottom: 16px;
  background-color: #ffffff;
  border: 2px solid #f4f4f4;

  display: flex;
  justify-content: space-between;

  .meta {
    display: flex;
    .icon {
      font-size: 42px;
      margin-right: 16px;
    }
    .info {
      font-size: 16px;
      margin: auto;
      .name {
        font-weight: bold;
      }
    }
  }

  a.btn {
    color: white;
    background-color: black;
    margin: auto 0;
  }
}

.promotion-preview {
  padding: 15px 30px;
  background-color: #ffffff;
  border: 2px solid #f4f4f4;

  &:hover {
    background-color: #f8f8f8;
  }

  img {
    max-width: 250px;
  }

  font-size: 24px;

  &.disabled {
    background-color: #cccccc;
  }
}