.footer {
  height: auto;
  width: 100%;
  margin-top: 15px;
  background-color: #43232d;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .copyright {
  margin-top: 14px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 15px !important;
  flex: 0 100%;
}
.footer .copyright a {
  color: #ff4949;
}

.footer .social {
  margin-top: 6px;
  display: flex;
  flex: 1;
}
.footer .social li {
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}
.footer .social li a {
  color: #dce7f0;
}
