html, body {
  min-height: 100%;
}

.footer {
  height: auto;
  width: 100%;
  margin-top: 15px;
  background-color: #43232d;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .copyright {
  margin-top: 14px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  font-size: 15px !important;
  flex: 0 100%;
}
.footer .copyright a {
  color: #ff4949;
}

.footer .social {
  margin-top: 6px;
  display: flex;
  flex: 1;
}
.footer .social li {
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

.footer-muted {
  color: rgba(255, 255, 255, 0.8) !important;
  &:hover {
    color: rgba(255, 255, 255, 1) !important;
  }
}

.footer .social li a {
  @extend .footer-muted;
}

.goog-te-gadget {
  @extend .footer-muted;
}

#google_translate_element {
  margin-top: 4px;
}

.goog-te-gadget-simple {
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-radius: 25px;
    height: 25px;
}
