.goog-te-gadget {
  color: rgba(255, 255, 255, 0.8) !important;
  &:hover {
    color: rgba(255, 255, 255, 1) !important;
  }
}

.goog-te-combo {
  color: rgba(0, 0, 0, 1) !important;
}

.goog-te-gadget-simple {
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-radius: 25px;
    height: 25px;
}

.btn-loader {
  white-space: nowrap;
  cursor: pointer;
}
