.panel-sosset {
  border-color: #a93636;
  opacity: .85;
}

.panel-sosset .panel-heading {
  background-color: #a93636;
}

.panel-sosset .panel-heading a {
  color: #f5f5f5 !important;
  font-weight: bold;
}

.landing-logo {
  margin-top: 50px;
}

.search-form {
  margin-top: 25px;
  margin-bottom: 25px;
}

.landing-search {
  background-color: #a93636;
  border-color: #a93636;
  opacity: .85;
  color: #f5f5f5;
}

.landing-search:hover {
  background-color: #a93636;
  border-color: #a93636;
  opacity: 1;
  color: #f5f5f5;
}
