.landing-search {
  background-color: #a93636;
  border-color: #a93636;
  opacity: .85;
  color: #f5f5f5;
}

.landing-search:hover {
  background-color: #a93636;
  border-color: #a93636;
  opacity: 1;
  color: #f5f5f5;
}
