.wrapper {
  margin-bottom: auto;
}
.wrapper::after {
  height: auto;
}
.footer {
  height: auto;
  margin-top: 15px;
}
.header-main {
  padding: 15px 0 !important;
}
.home-page .news .news-item {
  padding-left: 0px;
}
.footer .copyright {
  float: left;
  margin-right: 15px;
  font-size: 15px !important;
}

.footer a {
  color: #ff4949;
}

.hiddenRow { // Collapsing tables
    padding: 0 !important;
}

.rankable .handle {
  cursor: move;
  color: gray;
}
