.red-white-display {
  border: 1px solid white;
}

.red-white-display a {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

@media (min-width: 576px) {
  .red-white-display {
      margin-top: 13px;
      margin-right: 10px;
  }
}

.full-name {
  margin-top: 38px;
  margin-left: 15px;
}
