.bg-warning {
  background-color: #ff0000 !important;
  color: black !important;
}

#peek {
  background: #43232d;
  color: white;
  overflow: hidden;
}

#peek.development {
  background: #7b008e;
}

#peek.staging {
  background: #1b2b41;
}

#peek .wrapper {
  margin-left: 0;
}

.peek-icon {
  font-size: 120%;
  margin-right: 5px;
  color: #fff;
}
.peek-link a {
  color: #fff;
}

#movable {
  position: relative;
}
#movable #line {
  margin-left: 20px;
  border-bottom: 2px solid #d83a3a;
}

#movable #text {
  transform: translate(calc(-98%), 11px);
  width: 100%;
  text-align: right;
  color: #d83a3a;
}
