%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Users', users_path
  %li.breadcrumb-item= link_to @user.name, user_path(@user)
  %li.breadcrumb-item= link_to 'Authorizations', edit_user_path(@user)
  %li.breadcrumb-item.active Create Authorization

= render 'form'
