%section.section.section-padded
  .section-header
    %h3
      Edit Promotion
  .container-fluid
    .row-fluid
      = render 'form'
      = link_to "Delete", promotion_path(@promotion), method: :delete, class: "btn btn-warning pull-right"