.card
  = image_tag @promotion.picture.url(:large), class: 'card-img-top'

  .card-body
    %p.card-text= @markdown.render(@promotion.markdown).html_safe

  - unless @actions.empty?
    .card-footer.d-flex.justify-content-end
      = render partial: "partials/modtools", locals: {actions: @actions}
