.page-wrapper
  %header.page-heading
    %h1.heading-title Closures
    = link_to "Create", new_closure_path, class: "btn btn-primary pull-right"
  .page-content
    .table-responsive
      %table.table
        %thead
          %tr
            %th Start Date
            %th Type
        %tbody
          - @closures.each do |closure|
            = content_tag_for(:tr, closure) do
              %td= link_to closure.start_date, closure
              %td= closure.type